@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css");

// -- Fonts --
$f-main: "Open Sans", sans-serif;

// -- Colors --
$main-background: #ececec;
$main-text: #292524;
$riverbend-red: #ca401d;
$tooltip-color: rgb(136, 134, 36);

// -- Borders --
$object-border: 2px solid darken($main-text, 10%);
$object-border-hover: 1px solid darken($main-text, 30%);
$b-med: 8px;


* {
    box-sizing: border-box;
}
*:not(input, style, script, noscript, title) {
    display: flex;
    flex-direction: column;
}

html, body {
    font-family: $f-main !important;
    background-color: $main-background;
    color: $main-text;
    font-weight: 400;
}
body {
    margin: 0;
}

h1, h2, h3, h4, h5 {
    user-select: none;
}

p, a {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none !important;
    color: inherit;
}
.row {
    flex-direction: row;
}
.col {
    flex-direction: column;
}
.wrap {
    flex-wrap: wrap;
}
.text-green {
    color: greenyellow !important;
}
.bg-blue {
    background-color: blue !important;
    color: #ececec;
}
.bg-green {
    background-color: lime !important;
    color: black !important;
}
.bg-normal {
    background-color: rgb(202, 206, 195) !important;
    color: black !important;
}
.bg-orange {
    background-color: rgb(255, 155, 6) !important;
    color: black !important;
}
.bg-red {
    background-color: red !important;
    color: whitesmoke !important;
}
.bg-yellow {
    background-color: yellow !important;
    color: brown !important;
}
.button {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid inset white;
    cursor: pointer;
    user-select: none;
    &:hover {
        opacity: 0.9;
    }
}
.disabled, .disabled:hover {
    opacity: 0.6;
    cursor: default !important;
}
.selected {
    border: 2px solid white;
}
.tooltips {
    color: $tooltip-color !important;
}
.grouped-by {
    color: cyan !important;
}

#main {
    justify-content: center;
    align-items: center;
}
.msg-modal {
    flex-direction: row;
    position: fixed;
    top: 1rem;
    left: 1rem;
    border: 2px solid white;
    background-color: green;
    border-radius: $b-med;
    padding: 0.75rem;
    .modal-info {
        font-weight: bold;
    }
}
.cb-input {
    padding: 0.5rem;
    border: $object-border;
    border-radius: $b-med;
}
.main-page-image-container {
    width: 25%;
    img {
        max-width: 100%;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 35%;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 35%;
        box-shadow: 10px 0px 15px 10px rgba(black, 0.3);
    }
}

.navbar {
    position: fixed;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    top: 0;
    padding-inline: 1rem;
    background-color: white;
    border-bottom: 1px solid rgba($main-text, 0.5);
    gap: 2rem;
    flex-wrap: wrap;
    $navBtnColor: hsl(240, 68%, 55%);
    .section {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
        flex-wrap: wrap;
        .subsection {
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 5px;
            padding: 0.5rem;
            .subsection-button {
                flex-direction: row;
                border: 1px solid $navBtnColor;
                border-radius: 2px;
                transition: background-color 100ms linear;
                cursor: pointer !important;
                user-select: none;
                &:hover {
                    background-color: $navBtnColor;
                    color: white;
                }
                .subsection-button-image-container {
                    width: 30px;
                    aspect-ratio: 1 / 1;
                    height: 30px;
                }
                #nav-home-trigger-image-container {
                    width: 40px;
                    aspect-ratio: 1 / 1;
                    height: 40px;
                }
                .nav-button {
                    font-weight: 600;
                    flex-grow: 1;
                    &:hover {
                        background-color: transparent;
                    }
                }
            }
            #admin-dropdown-trigger {
                padding: 0.25rem;
            }
            .nav-button, .nav-button-secondary {
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-weight: 100;
                font-size: 80%;
                border-radius: 1000px;
                padding: 5px;
                padding-top: 4px;
            }
            
        }
        #nav-dropdown-main-container {
            position: relative;
            * {
                z-index: 99 !important;
            }
            img {
                width: 100%;
                width: 100%;
            }
            #admin-dropdown {
                position: absolute;
                flex-direction: row;
                display: none;
                top: calc(100% + 5px);
                left: 0;
                min-width: 0;
                width: max-content;
                padding: 1rem;
                background-color: white;
                border-radius: 3px;
                border: 1px solid $navBtnColor;
                gap: 1rem;
                flex-wrap: wrap;
                cursor: default;
                .dropdown-section {
                    flex-direction: column;
                    min-width: 200px;
                    flex-wrap: wrap;
                    color: $main-text !important;
                    .section-title-container {
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: center;
                        gap: 5px;
                        .dropdown-section-title-icon {
                            width: 35px;
                            aspect-ratio: 1 / 1;
                            height: 35px;
                        }
                        .section-title {
                            font-size: 110%;
                            font-weight: 600;
                        }
                    }
                    .section-link-container {
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: center;
                        padding-left: 1rem;
                        gap: 5px;
                        &:hover {
                            background-color: rgba(red, 0.1);
                        }
                        &:hover .section-link {
                            font-size: 100%;
                        }
                        .dropdown-section-link-icon {
                            width: 20px;
                            aspect-ratio: 1 / 1;
                            height: 20px;
                        }
                        .section-link {
                            font-weight: 500;
                            font-size: 80%;
                            padding-inline: 3px;
                            padding-left: 8px;
                            transition: font-size 300ms;
                            border-radius: 3px;
                        }
                    }
                }
            }
        }
    }
    .account-section {
        justify-content: flex-end;
        .subsection {
            #signout-button:hover {
                cursor: pointer;
                background-color: rgb(255, 188, 64);
            }
            .nav-user {
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 10px;
                padding: 0.5rem;
                .image-container {
                    width: 23px;
                    aspect-ratio: 1 / 1;
                    height: 23px;
                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 1000px;
                        background-color: black;
                    }
                }
                .name {
                    font-weight: 500 !important;
                    font-size: 80%;
                }
            }
        }
    }
}
@media (max-width: 1000px) {
    .navbar {
        justify-content: flex-start;
        align-items: flex-start;
        gap: 10px;
        .section, .account-section {
            
        }
    }
}
@media (max-width: 1000px) {
    .navbar {
        justify-content: center;
        align-items: center;
        .section, .account-section {
            justify-content: center;
            align-items: center;
            .subsection {
                justify-content: center;
                align-items: center;
            }
        }
    }
}

.options-list {
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    gap: 1rem;
    background-color: white;
    border: $object-border;
    border-radius: $b-med;
    max-height: 90vh;
    width: 75%;
    height: 75%;
    #option-prompt {
        justify-content: center;
        align-items: center;
        font-size: 200%;
        width: 100% !important;
    }
    .item {
        justify-content: center;
        align-items: center;
        gap: 1rem;
        #sid-search {
            position: relative;
            .searched-students {
                position: absolute;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                top: calc(100% + 1px);
                left: 50%;
                transform: translate(-50%);
                width: 120%;
                max-width: 120%;
                color: #292524;
                gap: 1px;
                .student {
                    flex-direction: column;
                    width: 100%;
                    padding: 0.25rem;
                    background-color: white;
                    border: 1px solid red;
                    border-radius: 5px;
                    cursor: pointer;
                    &:hover {
                        border: 2px solid red;
                    }
                    .name {
                        font-size: 90%;
                    }
                    .sid, .email {
                        font-size: 75%;
                        opacity: 0.5;
                    }
                }
            }
        }
    }
    .asset-tag-examples {
        display: none;
        justify-content: center;
        flex-direction: column;
        padding-top: 5rem;
        gap: 1rem;
        .img-container {
            justify-content: center;
            width: 500px;
            img {
                width: 100%;
                border: $object-border;
                border-radius: $b-med;
            }
        }
    }
    .progressions {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    .pages {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
}

.data-section {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 90%;
    padding: 2rem;
    background-color: white;
    border: $object-border;
    border-radius: $b-med;
    gap: 1rem;
    h1, h2, h3 {
        margin: 0;
    }
    .filters {
        border: $object-border;
        border-radius: $b-med;
        width: 100%;
        padding: 1rem;
        gap: 0.75rem;
        .section {
            gap: 1rem;
            .filter-button {
                justify-content: center;
                align-items: center;
            }
        }
    }
    .list {
        width: 100%;
        padding-bottom: 1rem;
        border-bottom: 1px solid lightgray;
        gap: 0.5rem;
        &:last-child {
            padding-bottom: 0;
            border-bottom: none;
        }
        .deleted-record {
            border: 2px solid $riverbend-red !important;
        }
        .finished-record {
            border: 2px solid green !important;
        }
        .started-record {
            border: 2px solid yellow !important;
        }
        .record {
            width: 100%;
            gap: 0.5rem;
            padding: 0.5rem;
            background-color: white;
            border: 2px solid $main-text;
            .row-two, .row-three, .row-four {
                display: none; // Default
            }
            .row-one, .row-two, .row-three, .row-four {
                justify-content: space-between;
                width: 100%;
                .recordID-input:focus {
                    border: none;
                }
                input, label, .recordID-input {
                    width: 16%;
                    font-weight: bold;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                }
                label {
                    font-weight: normal !important;
                    font-size: 70%;
                    opacity: 0.8;
                    color: $tooltip-color;
                }
                textarea, .issue-textbox {
                    width: 100%;
                    height: 3rem;
                    resize: vertical;
                    font-family: $f-main;
                }
                input, .issue-textbox {
                    padding: 0.5rem;
                    color: $main-text;
                    background-color: transparent;
                    border: none;
                    outline: none;
                    &:focus {
                        border: 2px solid $main-text;
                    }
                }
            }
            .record-controls {
                justify-content: flex-start;
                gap: 0.5rem;
            }
        }
    }
}

.new-device-form, .list-container {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 85%;
    background-color: white;
    border: 1px solid rgba($main-text, 0.5);
    padding: 1rem;
    .submissions, .list {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        .record-section {
            flex-direction: row;
            justify-content: center;
            align-items: flex-start;
            width: 100%;
            gap: 0.25rem;
            .record-label {
                color: rgb(109, 106, 106);
            }
            .record-input, .record-label {
                $numberOfColumns: 8;
                width: calc(100% / $numberOfColumns);
                padding: 0.25rem;
                font-size: 90% !important;
            }
            .record-input {
                border-radius: 2px;
                border: 1px solid rgba(red, 0.5);
                &:active, &:focus {
                    outline: 1px solid red;
                }
                &::placeholder {
                    font-size: 90% !important;
                }
            }
            .item-number {
                justify-content: center;
                align-items: center;
            }
        }
    }
    .form-controls {
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-end;
        padding-top: 1rem;
        width: 100%;
        gap: 1rem;
    }
}

.email-groups-form {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 85%;
    background-color: white;
    border: 1px solid rgba($main-text, 0.5);
    padding: 1rem;
    .form {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        gap: 1rem;
        .available-students, .new-group {
            position: relative;
            flex-direction: column;
            border: 1px solid red;
            border-radius: 3px;
            padding: 0.25rem;
            width: 60%;
        }
        .available-students {
            width: 20%;
        }
        .student {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            background-color: rgb(233, 231, 231);
            padding: 5px;
            border-radius: 4px;
            .info {
                flex-direction: column;
                .name, .sid {
                    font-size: 75%;
                    font-weight: 300;
                }
                .name {
                    font-weight: 500;
                }
            }
            .img-container {
                width: 30px;
                aspect-ratio: 1 / 1;
                height: 30px;
                background-color: rgb(138, 138, 231);
                border-radius: 3px;
                cursor: pointer;
                img {
                    width: 100%;
                    height: 100%;
                }
                &:hover {
                    background-color: rgb(115, 115, 218);
                }
            }
            &:hover {
                cursor: grab !important;
            }
            &:active, &:focus {
                cursor: grabbing !important;
            }
        }
        .student-drop-hover {
            position: relative;
            &::after {
                content: "";
                position: absolute;
                left: 0.25rem;
                right: 0.25rem;
                top: 0.25rem;
                bottom: 0.25rem;
                background-color: rgba(red, 0.1);
                border-radius: 3px;
            }
            &:active, &:focus {
                cursor: grabbing !important;
            }
        }
        .new-group {
            .student .img-container {
                display: none;
            }
        }
    }
}
@media (max-width: 1000px) {
    .email-groups-form {
        .form {
            flex-direction: column;
            .available-students, .new-group {
                width: 100%;
            }
        }
    }
}

.import-export-form {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 85%;
    background-color: white;
    border: 1px solid rgba($main-text, 0.5);
    padding: 1rem;
    gap: 1rem;
    .progress-container {
        display: none;
        width: 100%;
        progress {
            width: 100%;
            border: none;
            appearance: none;
            height: 10px;
            &::-webkit-progress-bar {
                background-color: rgb(224, 223, 223);
                border-radius: 3px;
                height: 10px;
            }
            &::-webkit-progress-value {
                background: linear-gradient(rgb(31, 255, 2), rgb(23, 148, 7)), linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
                background-blend-mode: multiply;
                border-radius: 3px;
                height: 10px;
            }
        }
        label {
            font-size: 70%;
            font-weight: 100;
        }
        #progress-percent {
            font-size: 75%;
            font-weight: 600;
        }
        #upload-result {
            display: none;
            font-weight: 600;
        }
        .upload-success {
            display: flex !important;
            color: rgb(23, 148, 7);
        }
        .upload-error {
            display: flex !important;
            color: rgb(255, 19, 2);
        }
    }
}

.list-container {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 85%;
    background-color: white;
    border: 1px solid rgba($main-text, 0.5);
    padding: 1rem;
    gap: 1rem;
    .tooltip {
        font-size: 80%;
        font-weight: 500;
    }
    .sorting-and-grouping {
        flex-direction: column;
        gap: 0.25rem;
        width: 100%;
        $border: 1px solid lighten(black, 30%);
        #hard-filters-container {
            padding: 0.25rem;
            border-radius: 3px;
            border: $border;
        }
        .section {
            flex-direction: row;
            align-items: center;
            gap: 10px;
            width: 100%;
            flex-wrap: wrap;
            h4 {
                margin: 0;
                font-size: 70%;
            }
            .search-container {
                flex-direction: row;
                width: 100%;
                padding: 3px;
                border-radius: 3px;
                gap: 5px;
                border: $border;
                .img-container {
                    width: 20px;
                    aspect-ratio: 1 / 1;
                    height: 20px;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                .search-input {
                    border: none;
                    outline: transparent;
                    width: 100%;
                    padding-left: 10px;
                    border-left: $border;
                }
            }
        }
    }
    .list {
        $main-bg-color: #6e70e4;
        $alternate-bg-color: lighten($main-bg-color, 15%);
        font-size: 80%;
        border-inline: 1px solid $main-bg-color;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        &:last-child, .record-section:last-child {
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;
        }
        #label-section {
            background-color: $main-bg-color;
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
            padding-top: 0.25rem;
            padding-bottom: 0.25rem;
            .record-label {
                color: white !important;
                flex-direction: row;
                justify-content: space-between;
                cursor: pointer;
                &:hover {
                    background-color: darken($alternate-bg-color, 5%);
                    &::after {
                        content: '';
                        background-image: url("/assets/icons/filter-sort.png");
                        background-size: cover;
                        width: 15px;
                        height: 15px;
                    }
                }
            }
        }
        .record-section {
            &:nth-child(even) {
                background-color: $alternate-bg-color;
            }
            &:nth-child(odd) {
                background-color: lighten($alternate-bg-color, 15%);
            }
            .record-input, .record-label {
                $numberOfColumns: 8;
                width: calc(100% / $numberOfColumns);
            }
            .record-input {
                border: none;
                background-color: transparent;
                font-size: 90% !important;
                &:active, &:focus {
                    outline: 1px solid $main-bg-color;
                }
            }
        }
        .list-section .record-label {
            color: $main-text !important;
        }
    }
}