@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css");
* {
  box-sizing: border-box;
}

*:not(input, style, script, noscript, title) {
  display: flex;
  flex-direction: column;
}

html, body {
  font-family: "Open Sans", sans-serif !important;
  background-color: #ececec;
  color: #292524;
  font-weight: 400;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5 {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

p, a {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none !important;
  color: inherit;
}

.row {
  flex-direction: row;
}

.col {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.text-green {
  color: greenyellow !important;
}

.bg-blue {
  background-color: blue !important;
  color: #ececec;
}

.bg-green {
  background-color: lime !important;
  color: black !important;
}

.bg-normal {
  background-color: rgb(202, 206, 195) !important;
  color: black !important;
}

.bg-orange {
  background-color: rgb(255, 155, 6) !important;
  color: black !important;
}

.bg-red {
  background-color: red !important;
  color: whitesmoke !important;
}

.bg-yellow {
  background-color: yellow !important;
  color: brown !important;
}

.button {
  padding: 5px;
  border-radius: 4px;
  border: 1px solid inset white;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.button:hover {
  opacity: 0.9;
}

.disabled, .disabled:hover {
  opacity: 0.6;
  cursor: default !important;
}

.selected {
  border: 2px solid white;
}

.tooltips {
  color: rgb(136, 134, 36) !important;
}

.grouped-by {
  color: cyan !important;
}

#main {
  justify-content: center;
  align-items: center;
}

.msg-modal {
  flex-direction: row;
  position: fixed;
  top: 1rem;
  left: 1rem;
  border: 2px solid white;
  background-color: green;
  border-radius: 8px;
  padding: 0.75rem;
}
.msg-modal .modal-info {
  font-weight: bold;
}

.cb-input {
  padding: 0.5rem;
  border: 2px solid #0e0c0c;
  border-radius: 8px;
}

.main-page-image-container {
  width: 25%;
}
.main-page-image-container img {
  max-width: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 35%;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 35%;
  box-shadow: 10px 0px 15px 10px rgba(0, 0, 0, 0.3);
}

.navbar {
  position: fixed;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  top: 0;
  padding-inline: 1rem;
  background-color: white;
  border-bottom: 1px solid rgba(41, 37, 36, 0.5);
  gap: 2rem;
  flex-wrap: wrap;
}
.navbar .section {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}
.navbar .section .subsection {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 0.5rem;
}
.navbar .section .subsection .subsection-button {
  flex-direction: row;
  border: 1px solid hsl(240, 68%, 55%);
  border-radius: 2px;
  transition: background-color 100ms linear;
  cursor: pointer !important;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.navbar .section .subsection .subsection-button:hover {
  background-color: hsl(240, 68%, 55%);
  color: white;
}
.navbar .section .subsection .subsection-button .subsection-button-image-container {
  width: 30px;
  aspect-ratio: 1/1;
  height: 30px;
}
.navbar .section .subsection .subsection-button #nav-home-trigger-image-container {
  width: 40px;
  aspect-ratio: 1/1;
  height: 40px;
}
.navbar .section .subsection .subsection-button .nav-button {
  font-weight: 600;
  flex-grow: 1;
}
.navbar .section .subsection .subsection-button .nav-button:hover {
  background-color: transparent;
}
.navbar .section .subsection #admin-dropdown-trigger {
  padding: 0.25rem;
}
.navbar .section .subsection .nav-button, .navbar .section .subsection .nav-button-secondary {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 100;
  font-size: 80%;
  border-radius: 1000px;
  padding: 5px;
  padding-top: 4px;
}
.navbar .section #nav-dropdown-main-container {
  position: relative;
}
.navbar .section #nav-dropdown-main-container * {
  z-index: 99 !important;
}
.navbar .section #nav-dropdown-main-container img {
  width: 100%;
  width: 100%;
}
.navbar .section #nav-dropdown-main-container #admin-dropdown {
  position: absolute;
  flex-direction: row;
  display: none;
  top: calc(100% + 5px);
  left: 0;
  min-width: 0;
  width: -moz-max-content;
  width: max-content;
  padding: 1rem;
  background-color: white;
  border-radius: 3px;
  border: 1px solid hsl(240, 68%, 55%);
  gap: 1rem;
  flex-wrap: wrap;
  cursor: default;
}
.navbar .section #nav-dropdown-main-container #admin-dropdown .dropdown-section {
  flex-direction: column;
  min-width: 200px;
  flex-wrap: wrap;
  color: #292524 !important;
}
.navbar .section #nav-dropdown-main-container #admin-dropdown .dropdown-section .section-title-container {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}
.navbar .section #nav-dropdown-main-container #admin-dropdown .dropdown-section .section-title-container .dropdown-section-title-icon {
  width: 35px;
  aspect-ratio: 1/1;
  height: 35px;
}
.navbar .section #nav-dropdown-main-container #admin-dropdown .dropdown-section .section-title-container .section-title {
  font-size: 110%;
  font-weight: 600;
}
.navbar .section #nav-dropdown-main-container #admin-dropdown .dropdown-section .section-link-container {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1rem;
  gap: 5px;
}
.navbar .section #nav-dropdown-main-container #admin-dropdown .dropdown-section .section-link-container:hover {
  background-color: rgba(255, 0, 0, 0.1);
}
.navbar .section #nav-dropdown-main-container #admin-dropdown .dropdown-section .section-link-container:hover .section-link {
  font-size: 100%;
}
.navbar .section #nav-dropdown-main-container #admin-dropdown .dropdown-section .section-link-container .dropdown-section-link-icon {
  width: 20px;
  aspect-ratio: 1/1;
  height: 20px;
}
.navbar .section #nav-dropdown-main-container #admin-dropdown .dropdown-section .section-link-container .section-link {
  font-weight: 500;
  font-size: 80%;
  padding-inline: 3px;
  padding-left: 8px;
  transition: font-size 300ms;
  border-radius: 3px;
}
.navbar .account-section {
  justify-content: flex-end;
}
.navbar .account-section .subsection #signout-button:hover {
  cursor: pointer;
  background-color: rgb(255, 188, 64);
}
.navbar .account-section .subsection .nav-user {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 0.5rem;
}
.navbar .account-section .subsection .nav-user .image-container {
  width: 23px;
  aspect-ratio: 1/1;
  height: 23px;
}
.navbar .account-section .subsection .nav-user .image-container img {
  width: 100%;
  height: 100%;
  border-radius: 1000px;
  background-color: black;
}
.navbar .account-section .subsection .nav-user .name {
  font-weight: 500 !important;
  font-size: 80%;
}

@media (max-width: 1000px) {
  .navbar {
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
  }
}
@media (max-width: 1000px) {
  .navbar {
    justify-content: center;
    align-items: center;
  }
  .navbar .section, .navbar .account-section {
    justify-content: center;
    align-items: center;
  }
  .navbar .section .subsection, .navbar .account-section .subsection {
    justify-content: center;
    align-items: center;
  }
}
.options-list {
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  gap: 1rem;
  background-color: white;
  border: 2px solid #0e0c0c;
  border-radius: 8px;
  max-height: 90vh;
  width: 75%;
  height: 75%;
}
.options-list #option-prompt {
  justify-content: center;
  align-items: center;
  font-size: 200%;
  width: 100% !important;
}
.options-list .item {
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.options-list .item #sid-search {
  position: relative;
}
.options-list .item #sid-search .searched-students {
  position: absolute;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  top: calc(100% + 1px);
  left: 50%;
  transform: translate(-50%);
  width: 120%;
  max-width: 120%;
  color: #292524;
  gap: 1px;
}
.options-list .item #sid-search .searched-students .student {
  flex-direction: column;
  width: 100%;
  padding: 0.25rem;
  background-color: white;
  border: 1px solid red;
  border-radius: 5px;
  cursor: pointer;
}
.options-list .item #sid-search .searched-students .student:hover {
  border: 2px solid red;
}
.options-list .item #sid-search .searched-students .student .name {
  font-size: 90%;
}
.options-list .item #sid-search .searched-students .student .sid, .options-list .item #sid-search .searched-students .student .email {
  font-size: 75%;
  opacity: 0.5;
}
.options-list .asset-tag-examples {
  display: none;
  justify-content: center;
  flex-direction: column;
  padding-top: 5rem;
  gap: 1rem;
}
.options-list .asset-tag-examples .img-container {
  justify-content: center;
  width: 500px;
}
.options-list .asset-tag-examples .img-container img {
  width: 100%;
  border: 2px solid #0e0c0c;
  border-radius: 8px;
}
.options-list .progressions {
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.options-list .pages {
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.data-section {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 90%;
  padding: 2rem;
  background-color: white;
  border: 2px solid #0e0c0c;
  border-radius: 8px;
  gap: 1rem;
}
.data-section h1, .data-section h2, .data-section h3 {
  margin: 0;
}
.data-section .filters {
  border: 2px solid #0e0c0c;
  border-radius: 8px;
  width: 100%;
  padding: 1rem;
  gap: 0.75rem;
}
.data-section .filters .section {
  gap: 1rem;
}
.data-section .filters .section .filter-button {
  justify-content: center;
  align-items: center;
}
.data-section .list {
  width: 100%;
  padding-bottom: 1rem;
  border-bottom: 1px solid lightgray;
  gap: 0.5rem;
}
.data-section .list:last-child {
  padding-bottom: 0;
  border-bottom: none;
}
.data-section .list .deleted-record {
  border: 2px solid #ca401d !important;
}
.data-section .list .finished-record {
  border: 2px solid green !important;
}
.data-section .list .started-record {
  border: 2px solid yellow !important;
}
.data-section .list .record {
  width: 100%;
  gap: 0.5rem;
  padding: 0.5rem;
  background-color: white;
  border: 2px solid #292524;
}
.data-section .list .record .row-two, .data-section .list .record .row-three, .data-section .list .record .row-four {
  display: none;
}
.data-section .list .record .row-one, .data-section .list .record .row-two, .data-section .list .record .row-three, .data-section .list .record .row-four {
  justify-content: space-between;
  width: 100%;
}
.data-section .list .record .row-one .recordID-input:focus, .data-section .list .record .row-two .recordID-input:focus, .data-section .list .record .row-three .recordID-input:focus, .data-section .list .record .row-four .recordID-input:focus {
  border: none;
}
.data-section .list .record .row-one input, .data-section .list .record .row-one label, .data-section .list .record .row-one .recordID-input, .data-section .list .record .row-two input, .data-section .list .record .row-two label, .data-section .list .record .row-two .recordID-input, .data-section .list .record .row-three input, .data-section .list .record .row-three label, .data-section .list .record .row-three .recordID-input, .data-section .list .record .row-four input, .data-section .list .record .row-four label, .data-section .list .record .row-four .recordID-input {
  width: 16%;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.data-section .list .record .row-one label, .data-section .list .record .row-two label, .data-section .list .record .row-three label, .data-section .list .record .row-four label {
  font-weight: normal !important;
  font-size: 70%;
  opacity: 0.8;
  color: rgb(136, 134, 36);
}
.data-section .list .record .row-one textarea, .data-section .list .record .row-one .issue-textbox, .data-section .list .record .row-two textarea, .data-section .list .record .row-two .issue-textbox, .data-section .list .record .row-three textarea, .data-section .list .record .row-three .issue-textbox, .data-section .list .record .row-four textarea, .data-section .list .record .row-four .issue-textbox {
  width: 100%;
  height: 3rem;
  resize: vertical;
  font-family: "Open Sans", sans-serif;
}
.data-section .list .record .row-one input, .data-section .list .record .row-one .issue-textbox, .data-section .list .record .row-two input, .data-section .list .record .row-two .issue-textbox, .data-section .list .record .row-three input, .data-section .list .record .row-three .issue-textbox, .data-section .list .record .row-four input, .data-section .list .record .row-four .issue-textbox {
  padding: 0.5rem;
  color: #292524;
  background-color: transparent;
  border: none;
  outline: none;
}
.data-section .list .record .row-one input:focus, .data-section .list .record .row-one .issue-textbox:focus, .data-section .list .record .row-two input:focus, .data-section .list .record .row-two .issue-textbox:focus, .data-section .list .record .row-three input:focus, .data-section .list .record .row-three .issue-textbox:focus, .data-section .list .record .row-four input:focus, .data-section .list .record .row-four .issue-textbox:focus {
  border: 2px solid #292524;
}
.data-section .list .record .record-controls {
  justify-content: flex-start;
  gap: 0.5rem;
}

.new-device-form, .list-container {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 85%;
  background-color: white;
  border: 1px solid rgba(41, 37, 36, 0.5);
  padding: 1rem;
}
.new-device-form .submissions, .new-device-form .list, .list-container .submissions, .list-container .list {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}
.new-device-form .submissions .record-section, .new-device-form .list .record-section, .list-container .submissions .record-section, .list-container .list .record-section {
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  gap: 0.25rem;
}
.new-device-form .submissions .record-section .record-label, .new-device-form .list .record-section .record-label, .list-container .submissions .record-section .record-label, .list-container .list .record-section .record-label {
  color: rgb(109, 106, 106);
}
.new-device-form .submissions .record-section .record-input, .new-device-form .submissions .record-section .record-label, .new-device-form .list .record-section .record-input, .new-device-form .list .record-section .record-label, .list-container .submissions .record-section .record-input, .list-container .submissions .record-section .record-label, .list-container .list .record-section .record-input, .list-container .list .record-section .record-label {
  width: 12.5%;
  padding: 0.25rem;
  font-size: 90% !important;
}
.new-device-form .submissions .record-section .record-input, .new-device-form .list .record-section .record-input, .list-container .submissions .record-section .record-input, .list-container .list .record-section .record-input {
  border-radius: 2px;
  border: 1px solid rgba(255, 0, 0, 0.5);
}
.new-device-form .submissions .record-section .record-input:active, .new-device-form .submissions .record-section .record-input:focus, .new-device-form .list .record-section .record-input:active, .new-device-form .list .record-section .record-input:focus, .list-container .submissions .record-section .record-input:active, .list-container .submissions .record-section .record-input:focus, .list-container .list .record-section .record-input:active, .list-container .list .record-section .record-input:focus {
  outline: 1px solid red;
}
.new-device-form .submissions .record-section .record-input::-moz-placeholder, .new-device-form .list .record-section .record-input::-moz-placeholder, .list-container .submissions .record-section .record-input::-moz-placeholder, .list-container .list .record-section .record-input::-moz-placeholder {
  font-size: 90% !important;
}
.new-device-form .submissions .record-section .record-input::placeholder, .new-device-form .list .record-section .record-input::placeholder, .list-container .submissions .record-section .record-input::placeholder, .list-container .list .record-section .record-input::placeholder {
  font-size: 90% !important;
}
.new-device-form .submissions .record-section .item-number, .new-device-form .list .record-section .item-number, .list-container .submissions .record-section .item-number, .list-container .list .record-section .item-number {
  justify-content: center;
  align-items: center;
}
.new-device-form .form-controls, .list-container .form-controls {
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  padding-top: 1rem;
  width: 100%;
  gap: 1rem;
}

.email-groups-form {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 85%;
  background-color: white;
  border: 1px solid rgba(41, 37, 36, 0.5);
  padding: 1rem;
}
.email-groups-form .form {
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
}
.email-groups-form .form .available-students, .email-groups-form .form .new-group {
  position: relative;
  flex-direction: column;
  border: 1px solid red;
  border-radius: 3px;
  padding: 0.25rem;
  width: 60%;
}
.email-groups-form .form .available-students {
  width: 20%;
}
.email-groups-form .form .student {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(233, 231, 231);
  padding: 5px;
  border-radius: 4px;
}
.email-groups-form .form .student .info {
  flex-direction: column;
}
.email-groups-form .form .student .info .name, .email-groups-form .form .student .info .sid {
  font-size: 75%;
  font-weight: 300;
}
.email-groups-form .form .student .info .name {
  font-weight: 500;
}
.email-groups-form .form .student .img-container {
  width: 30px;
  aspect-ratio: 1/1;
  height: 30px;
  background-color: rgb(138, 138, 231);
  border-radius: 3px;
  cursor: pointer;
}
.email-groups-form .form .student .img-container img {
  width: 100%;
  height: 100%;
}
.email-groups-form .form .student .img-container:hover {
  background-color: rgb(115, 115, 218);
}
.email-groups-form .form .student:hover {
  cursor: grab !important;
}
.email-groups-form .form .student:active, .email-groups-form .form .student:focus {
  cursor: grabbing !important;
}
.email-groups-form .form .student-drop-hover {
  position: relative;
}
.email-groups-form .form .student-drop-hover::after {
  content: "";
  position: absolute;
  left: 0.25rem;
  right: 0.25rem;
  top: 0.25rem;
  bottom: 0.25rem;
  background-color: rgba(255, 0, 0, 0.1);
  border-radius: 3px;
}
.email-groups-form .form .student-drop-hover:active, .email-groups-form .form .student-drop-hover:focus {
  cursor: grabbing !important;
}
.email-groups-form .form .new-group .student .img-container {
  display: none;
}

@media (max-width: 1000px) {
  .email-groups-form .form {
    flex-direction: column;
  }
  .email-groups-form .form .available-students, .email-groups-form .form .new-group {
    width: 100%;
  }
}
.import-export-form {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 85%;
  background-color: white;
  border: 1px solid rgba(41, 37, 36, 0.5);
  padding: 1rem;
  gap: 1rem;
}
.import-export-form .progress-container {
  display: none;
  width: 100%;
}
.import-export-form .progress-container progress {
  width: 100%;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 10px;
}
.import-export-form .progress-container progress::-webkit-progress-bar {
  background-color: rgb(224, 223, 223);
  border-radius: 3px;
  height: 10px;
}
.import-export-form .progress-container progress::-webkit-progress-value {
  background: linear-gradient(rgb(31, 255, 2), rgb(23, 148, 7)), linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-blend-mode: multiply;
  border-radius: 3px;
  height: 10px;
}
.import-export-form .progress-container label {
  font-size: 70%;
  font-weight: 100;
}
.import-export-form .progress-container #progress-percent {
  font-size: 75%;
  font-weight: 600;
}
.import-export-form .progress-container #upload-result {
  display: none;
  font-weight: 600;
}
.import-export-form .progress-container .upload-success {
  display: flex !important;
  color: rgb(23, 148, 7);
}
.import-export-form .progress-container .upload-error {
  display: flex !important;
  color: rgb(255, 19, 2);
}

.list-container {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 85%;
  background-color: white;
  border: 1px solid rgba(41, 37, 36, 0.5);
  padding: 1rem;
  gap: 1rem;
}
.list-container .tooltip {
  font-size: 80%;
  font-weight: 500;
}
.list-container .sorting-and-grouping {
  flex-direction: column;
  gap: 0.25rem;
  width: 100%;
}
.list-container .sorting-and-grouping #hard-filters-container {
  padding: 0.25rem;
  border-radius: 3px;
  border: 1px solid #4d4d4d;
}
.list-container .sorting-and-grouping .section {
  flex-direction: row;
  align-items: center;
  gap: 10px;
  width: 100%;
  flex-wrap: wrap;
}
.list-container .sorting-and-grouping .section h4 {
  margin: 0;
  font-size: 70%;
}
.list-container .sorting-and-grouping .section .search-container {
  flex-direction: row;
  width: 100%;
  padding: 3px;
  border-radius: 3px;
  gap: 5px;
  border: 1px solid #4d4d4d;
}
.list-container .sorting-and-grouping .section .search-container .img-container {
  width: 20px;
  aspect-ratio: 1/1;
  height: 20px;
}
.list-container .sorting-and-grouping .section .search-container .img-container img {
  width: 100%;
  height: 100%;
}
.list-container .sorting-and-grouping .section .search-container .search-input {
  border: none;
  outline: transparent;
  width: 100%;
  padding-left: 10px;
  border-left: 1px solid #4d4d4d;
}
.list-container .list {
  font-size: 80%;
  border-inline: 1px solid #6e70e4;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.list-container .list:last-child, .list-container .list .record-section:last-child {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.list-container .list #label-section {
  background-color: #6e70e4;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.list-container .list #label-section .record-label {
  color: white !important;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
}
.list-container .list #label-section .record-label:hover {
  background-color: #999aec;
}
.list-container .list #label-section .record-label:hover::after {
  content: "";
  background-image: url("/assets/icons/filter-sort.png");
  background-size: cover;
  width: 15px;
  height: 15px;
}
.list-container .list .record-section:nth-child(even) {
  background-color: #aeb0f0;
}
.list-container .list .record-section:nth-child(odd) {
  background-color: #efeffc;
}
.list-container .list .record-section .record-input, .list-container .list .record-section .record-label {
  width: 12.5%;
}
.list-container .list .record-section .record-input {
  border: none;
  background-color: transparent;
  font-size: 90% !important;
}
.list-container .list .record-section .record-input:active, .list-container .list .record-section .record-input:focus {
  outline: 1px solid #6e70e4;
}
.list-container .list .list-section .record-label {
  color: #292524 !important;
}/*# sourceMappingURL=main.css.map */